@charset "utf-8";


#stylelist{
    width: 26%;
    height: 28%;
    border: solid 1px #888;
    position: fixed;
    top: 9%;
    left: 72%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 5px;
}
div#choiceid{
    width: 26%;
    height: 5%;
    position: fixed;
    top: 38%;
    left: 72%;
    border: solid 1px #888;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.3rem;
}
div #stylebt{
    width: 26%;
    height: 10%;
    position: fixed;
    top: 45%;
    left: 72%;
    border: solid 1px #888;
    padding-left: 1%;
    box-sizing: border-box;
}

div #stylebt button{
    width: 32%;
    height: 48%;
    margin: 0;
    margin-bottom: 1%;
    box-sizing: border-box;
}

.stylebox{
    width: 26%;
    height: 40%;
    border: solid 1px #888;
    position: fixed;
    top: 56%;
    display: none;
    left: 72%;
    box-sizing: border-box;
    padding: 10px;
}

input{
    font-size: 1.2rem;
}
.stylebox p{
    width: 100%;
    height: 15%;
    display: block;
}
.stylebox label{
    width: 50%;
    display: block;
}
input[type = "number"]{
    text-align: center;
    width: 30%;
    height: 80%;
    display: inline;
    box-sizing: border-box;
    padding: 5px;
}