@charset "utf-8";

/* 共通のスタイル */
body{
  overflow: hidden;
  text-align: center;
  color: #000;
  background-color: #fff;
}

img.logo{
  position: absolute;
  left: 15%;
  width: 160px;
  height: 120px;
}

img.mura{
  width: 90%;
  height: 100%;
}

img.house1{
    position: absolute;
    right: 34.5%;
    top: 8%;
    width: 370px;
    height: auto;
  }

  img.house2{
    position: absolute;
    left: 10.5%;
    bottom: 12%;
    width: 530px;
    height: auto;
  }

  img.next{
    position: absolute;
    right: 100px;
    bottom: 50px;
    width: 200px;
    height: 200px;
  }

footer{
  margin-top: auto;
  text-align:center;
}