@charset "utf-8";

/* 画面を暗くするcss */
/* 変更禁止 */
div#scebox{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    display: none;

}

/* 変更禁止 */
div#shadow{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    /* background-color: #000;
    opacity: .1; */
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;

    visibility:hidden;
    z-index: 10;

}
div#shadow2{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background-color: #000;
    opacity: .1;

    visibility:hidden;
    z-index: 11;

}

/* キャラのみを目立たせるcss */
div#charbox{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    z-index: 13;
}

div#charbox img{
    width: 20%;
}

/* セリフボックスのデザイン */
/* 好きなように変更してください。 position z-index は変更禁止 */
div#serifubox{
    position: fixed;
    top: 65%;
    left: 5%;
    
    width: 90%;
    height: 30%;

    z-index: 15;

    box-sizing: border-box;
    padding: 15px;
    font-size: 1.3rem;

    background-color: #fff;
    color: #000;
}


/* topとleftのみ変更可 positionとz-indexは変更禁止 */
.leftup{
    width: 30vw;
    height: auto;
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 13;
}

.leftdown{
    width: 30vw;
    height: auto;
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 10;
}

.rightup{
    width: 30vw;
    height: auto;
    position: fixed;
    top: 3%;
    left: 55%;
    /* transform: scale(-1, 1); */
    z-index: 13;
}
.rightdown{
    width: 30vw;
    height: auto;
    position: fixed;
    top: 3%;
    left: 55%;
    /* transform: scale(-1, 1); */
    z-index: 10;
}

#tutorialimg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    visibility:hidden;
    z-index: 20;
}

#tutorialimgin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    z-index: 20;
}