@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  height:100%;
  background-attachment: fixed;
}

.koin1{
  width: 110px;
  height: 20px;
  margin: 0 auto 4px auto;
  text-align: left;
  background-color: #E9FEA3;
  border: 1px solid #C5EC57;
}
.koin_photo1{
  width: 20px;
  height: 20px;
  float: left;
}
.Purchase11{
  padding: 0;
  border: none;
  background: transparent;
  margin: 0 auto 0 auto;
}
#Pur_bu11{
  width: 130px;
  /* display: block; */
}
p.koin_number1{
  float: right;
}

.number1{
  position: absolute;
  right: 3.5%;
  top: 3%;
  width: 150px;
  height: 20px;
  padding: 3px 10px 3px 0px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.Trans1{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.534);
  text-align: center;
}

.confirmation11{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 600px;
  height: 250px;
  background-color: #707070;
  border-radius: 10px;
}
.confirmation22{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 598px;
  height: 258px;
  background-color: #FCC453;
  border-radius: 10px;
}
.confirmation33{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 596px;
  height: 256px;
  background-color: #707070;
  border-radius: 10px;
}
.confirmation1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 594px;
  height: 254px;
  background-color: #fff;
  border-radius: 10px;
}
.kakuninn1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 600px;
}
.itemname_k1{
  text-align: center;
}

.koin_k1{
  width: 130px;
  height: 25px;
  margin: 2px auto 2px 15%;
  text-align: left;
  background-color: #E9FEA3;
  border: 1px solid #C5EC57;
}

.item_photok1{
  width: 150px;
  height: 130px;
  margin: 0 auto 4px auto;
  background-color: #fff;
  border: 1px solid #787676;
  border-radius: 10px;
}

p#con1{
  width: 300px;
  border-bottom: 1px solid #000 ;
  margin: 0 auto 0 100%;
}

.Purchase11{
  width: 200px;
  padding: 0;
  border: none;
  background: transparent;
  margin: 40px auto 0 auto;
}
#Pur_bu11{
  width: 180px;
  /* display: block; */
}

.koin_txt11{
  text-align: center;
  margin-top: 20px;
}
.koin_txt22{
  text-align: center;
}
.k1{
  float: left;
}
.koin_box1{
  margin-top: 20px;
}